*{
  margin: 0;
  padding: 0;
}

html, body, header, footer{
    min-height: 100%;
    font-family: "Press Start 2P";
}

div.container{
  margin: 0 auto 0 auto;
}

body{
  background-image: url('https://cdn.discordapp.com/attachments/741132529347723324/972308154194997258/unknown.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}


nav img{
  position: relative;
  width: 100%;
  padding-top: 0px;
  margin-top: 10px;

}

nav{
  background-color: #0F4681;
  position: relative;
}

nav ul{
  float: left;
}

nav ul li{
  float: left;
  display: inline-block;
  position: relative top 0px;
  margin-left: 95px;
  margin-right: 80px;
  margin-top: 23px;
  font-size: 173%;

}

nav ul li a{
  color: white;
}

div.hero img{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 1.5%;

}

div.sideleft, div.sideright{
  border: 3px hidden;
  display: block;
  width: 39%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5%;

}

div.star{
  display: block;
  width: 13%;
  margin-bottom: 3%;
}

aside img{
  width: 100%;

}

aside{
  display: flex;
  justify-content: space-between;
}

footer{
  position: absolute bottom 0px;
  background-color: #0F4681;
  margin-top: -10px;
  margin-bottom: 0px;
  border: 2px, #0F4681;
  text-align: center;
  line-height: 3.2em;
  font-size: 80%;
}

span.footer1{
  position: relative bottom 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 5%;
  color: white;

}

span.footer2{
  position: relative bottom 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 5%;
  color: white;
}

footer img{
  position: relative;
  width: 100%;
}
